html,
body {
    width: 100%;
    min-height: 100%;
    margin: 0;
    padding: 0;
    background: url("https://images.unsplash.com/photo-1518688248740-7c31f1a945c4?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=1ccec1049fd4d0c644c3ef604540bb2f&auto=format&fit=crop&w=1950&q=80");
    text-align: left;
    font-family: 'Titillium Web',
        sans-serif;
}



fieldset {
    width: 200px;
    border: 1px solid black;
    border-radius: 5px;
    display: table;
}

p {
    display: table-row;
}

label {
    display: table-cell;
    text-align: right;
    padding-right: 10px;
}

input {
    padding: 0;
    margin: 0;
    display: table-cell;
    text-align: left;
    height: 100%;
}

.outcome,
.predict {
    font-size: 200%;
    font-weight: bold;
    padding: 10px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}

.outcome__child {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    min-width: 50px;
    text-align: center;
    /* color: grey; */
}

.predict__child {
    border: 2px solid white;
    border-radius: 5px;
    padding: 5px;
    margin: 5px;
    order: 0;
    flex: 0 1 auto;
    align-self: auto;
    width: 50px;
    text-align: center;
}

.predict__child>input {
    width: 40px;
}

footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    text-align: center;
}