:root {
    --nav-background: #ffffff;
    --dark-background: #343D48;
    --charcoal: #343D48;
    --spanish-grey: #969696;
    --meat-brown: #DDB23B;
    --normal-font: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently supported by Chrome and Opera */
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}


html,
body {
    color: #ffffff;
    font-family: 'Raleway', sans-serif;
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    border: 0;

}

a {
    text-decoration: none;
}

a:visited {
    color: var(--charcoal);
}

section {
    height: 100vh;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
}



/*NAV BAR*/

nav {
    font-size: 1vw;
    background-color: var(--nav-background);
    display: inline-block;
    text-align: center;
    position: fixed;
    height: 100vh;
    width: 225px;
    left: -225px;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
    z-index: 9990;
    border-top: 3px solid var(--meat-brown);
    border-bottom: 3px solid var(--meat-brown);
}


.nav__social {
    font-size: .5em;
    position: relative;
    top: 10%;
    left: 50%;
    transform: translate(-50%, -50%)
}



.nav__logo {
    position: absolute;
    width: 200px;
    height: 300px;
    /* top:5%; */
    left: 25%;
    background: url("./img/logo.svg") no-repeat;
    position: relative;
    top: 0;
}

.nav__links {
    position: relative;
    top:-10%;
    left:0;
    }

nav a {
    display: block;
    text-decoration: none;
    color: black;
    padding: 5px;
}

nav a:hover {
    color: var(--meat-brown);
    font-size: 1.5em;
}


nav a.active {
    background-color: black;
    color: #ffffff;
}

nav,
.hamburger,
.cover {
    -webkit-transition: -webkit-transform .3s;
    transition: transform .3s;
}

footer {
    font-size: 2vmin;
    width: 225px;
    position: absolute;
    bottom: 1vmin;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--charcoal);
}

.hamburger {
    font-size: .25em;
    position: fixed;
    z-index: 9999;
    padding: 15px;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger div:not(:last-child) {
    margin-bottom: 5px;
}

.sidenav-active nav,
.sidenav-active .cover {
    -webkit-transform: translateX(225px);
    -ms-transform: translateX(225px);
    transform: translateX(225px);
}

.sidenav-active .hamburger {
    -webkit-transform: translateX(180px);
    -ms-transform: translateX(180px);
    transform: translateX(180px);
    color: #000000;

}

.main {
    -webkit-transition: margin-left .3s;
    transition: margin-left .3s;
}

.sidenav-active .main {
    margin-left: var(225px);
}

/*MAIN*/
.section__greeting {
    background: linear-gradient(-45deg, #EE7752, #E73C7E, #23A6D5, #23D5AB);
    background-size: 400% 400%;
    -webkit-animation: Gradient 15s ease infinite;
    -moz-animation: Gradient 15s ease infinite;
    animation: Gradient 15s ease infinite;
    height: 100vh;

}

.greeting {

    color: #fff;
    font-size: calc(3vw + 2vh);
    width: 40%;
    text-align: center;
    position: relative;
    top: 30%;
    left: 20%;
    margin: 0;
    border: 0;
    padding: 0;
}

.name {
    font-weight: bold;
}

.skills {
    /* background: url('./img/tools.jpg')no-repeat center center fixed; */
    background: url('./img/mountains.jpg')no-repeat center center fixed;
    text-align: center;
    font-size: 1em;
    height: 100vh;
    text-shadow: 3px 3px 14px rgba(150, 150, 150, 0.78);

}

.skills>h3 {
    padding: 2em 0 .5em 0;
    font-size: 2em;
    margin: 0;
}

.skills__container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-row-gap: 2em;
    grid-column-gap: 1em;
}

i {
    font-size: 4em;
}

.skills--js {
    grid-area: 3/1;
}

.skills--react {
    grid-area: 1/2;
}

.skills--css {
    grid-area: 2/1;
}

.skills--html {
    grid-area: 1/1;
}

.skills--git {
    grid-area: 2/2;
}

.skills--python {
    grid-area: 3/2;
}

/*PROJECTS*/

.projects {
    height: 100vh;

}

.projects__title {
    background: var(--dark-background);
    font-size: calc(3vw + 2vh);
    font-weight: bold;
    border-top: 1px solid white;
    /* border-bottom: 1px solid white; */
    -webkit-box-shadow: 7px 7px 81px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 81px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 81px 0px rgba(0, 0, 0, 0.75);

}

.projects__container {
    display: flex;
    flex-direction: row;
    text-align: center;
    height: 90%;
}

.projects--flex h3 {
    color: #000000;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 0.6);
}

.projects--flex:hover {
    flex: 3;

}

.projects--flex {
    flex: 1;
    background-position: center;
    background-size: cover;
    background-repeat: none;
    transition: flex 0.8s ease;
    height: 100%;
    position: relative;


}

.projects--flex p {

    margin: 0;
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    width: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    padding: 1vw;
    text-align: center;
    color: black;
    opacity: 0;
    transition: opacity 0.3s ease-out;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

}


.projects--flex:hover p {
    opacity: 1;
    transition: opacity 0.3s ease-in;
    margin: 0;
}

.projects__container a {
    text-decoration: none;
    color: #000000;
}

.projects--ls {
    background-image: url('./img/ls-cave.jpg');

}

.projects--python {
    background-image: url('./img/pcb.jpg');

}

.projects--pdf {
    background-image: url('./img/pdf.jpg');

}

.projects--bookstore {
    background-image: url('./img/book-tower.jpg');

}

.projects--your-idea {
    background-image: url('./img/team-work.jpg');

}

/*ABOUT*/

.about {
    border-top: 1px solid white;
    background: var(--dark-background);
    display: grid;
    margin: 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-gap: 0;
    padding: 5vmin;
}

.about>h3 {
    grid-column: 1/3;
    grid-row: 1;
    font-size: 3em;
    padding-top: 2vh;
    margin: 0;

}

.about__picture {
    width: 40vmin;
    height: 40vmin;
    border: 2px dashed white;
    border-radius: 50%;
    background: url('./img/me.jpg');
    background-repeat: no-repeat;
    background-position-y: 40%;
    background-size: cover;
    grid-column: 1/2;
    grid-row: 2/4;

    z-index: 9800;
    -webkit-box-shadow: 7px 7px 81px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 81px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 7px 7px 81px 0px rgba(0, 0, 0, 0.75);
}

.about__intro {
    font-size: calc(14px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
    text-align: left;
    grid-column: 2/3;
    grid-row: 2/5;
    padding: 0;
    margin: 0;
    border-top: 1px solid var(--meat-brown);
}

.about__footer {
    grid-column: 1/3;
    grid-row: 5/6;
    padding: 10px;
    width: 50%;
    background-color: rgba(255, 255, 255, 0.2);
    border-right: 2px solid #ffffff;
    border-left: 2px solid #ffffff;
    letter-spacing: 10px;
    -webkit-box-shadow: 7px 7px 81px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 7px 7px 81px 0px rgba(0, 0, 0, 0.75);
    margin: auto;
    box-shadow: 7px 7px 81px 0px rgba(0, 0, 0, 0.75);

}

.about__social {
    font-size: calc(var(--normal-font) / 2);
    text-align: center;
}

.about__social>a {
    color: black;
}

.about__social:hover>a:hover {
    color: #ffffff;
}




/*WORDS REVOLVER*/
.rw-words {
    display: inline;
    text-indent: 10px;
    text-align: left;
}

.rw-words-1 span {
    position: absolute;
    opacity: 0;
    overflow: hidden;

    -webkit-animation: rotateWord 10s linear infinite 0s;
    -ms-animation: rotateWord 10s linear infinite 0s;
    animation: rotateWord 10s linear infinite 0s;
}

.rw-words-1 span:nth-child(2) {
    -webkit-animation-delay: 2s;
    -ms-animation-delay: 2s;
    animation-delay: 2s;

}

.rw-words-1 span:nth-child(3) {
    -webkit-animation-delay: 4s;
    -ms-animation-delay: 4s;
    animation-delay: 4s;

}

.rw-words-1 span:nth-child(4) {
    -webkit-animation-delay: 6s;
    -ms-animation-delay: 6s;
    animation-delay: 6s;

}

.rw-words-1 span:nth-child(5) {
    -webkit-animation-delay: 8s;
    -ms-animation-delay: 8s;
    animation-delay: 8s;


}

/*
.rw-words-1 span:nth-child(6) {
-webkit-animation-delay: 15s;
-ms-animation-delay: 15s;
animation-delay: 15s;

}*/

@-webkit-keyframes rotateWord {
    0% {
        opacity: 0;
    }

    2% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
    }

    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }

    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
    }

    20% {
        opacity: 0;
        -webkit-transform: translateY(30px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@-ms-keyframes rotateWord {
    0% {
        opacity: 0;
    }

    2% {
        opacity: 0;
        -ms-transform: translateY(-30px);
    }

    5% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }

    17% {
        opacity: 1;
        -ms-transform: translateY(0px);
    }

    20% {
        opacity: 0;
        -ms-transform: translateY(30px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes rotateWord {
    0% {
        opacity: 0;
    }

    2% {
        opacity: 0;
        -webkit-transform: translateY(-30px);
        transform: translateY(-30px);
    }

    5% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    17% {
        opacity: 1;
        -webkit-transform: translateY(0px);
        transform: translateY(0px);
    }

    20% {
        opacity: 0;
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }

    80% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

/*gradient animation*/

@-webkit-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@-moz-keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@keyframes Gradient {
    0% {
        background-position: 0% 50%
    }

    50% {
        background-position: 100% 50%
    }

    100% {
        background-position: 0% 50%
    }
}

@media only screen and (max-width: 1500px) {
    nav {
        font-size: var(--normal-font);

    }
}

@media only screen and (max-width: 720px) {
    .skills {
        background: url('./img/mountains.jpg')no-repeat center center fixed;
        font-size: var(--normal-font);
    }

    .projects__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-gap: 0;
        width: 100vw;
        height: 100%;
        text-align: center;
    }

    .projects--flex {
        height: 50vh;

    }

    .projects--flex h3 {
        padding: 0;
        margin: 0;
        border: 0;
        color: #000000;
        font-size: 2rem;
        background-color: rgba(255, 255, 255, 0.6);
    }

    .projects--flex p {
        display: block;
        padding: 10px;
        width: 50%;
        background-color: rgba(255, 255, 255, 0.6);
        border: 1px solid rgba(255, 255, 255, 0.4);
        border-radius: 5px;
        text-align: center;
        position: relative;
        top: 10vh;
        left: 50%;
        color: black;
        font-size: calc(1vw + 2vh);
        opacity: 1;
    }

    .projects--ls {
        grid-area: 1/1;
    }

    .projects--python {
        grid-area: 1/2;
    }

    .projects--pdf {
        grid-area: 1/3;
    }

    .projects--bookstore {
        grid-area: 2/1;
    }

    .projects--your-idea {
        grid-area: 2 / 2 / auto / span 2;
    }

    .about__intro {
        grid-row: 2/5
    }
}

@media only screen and (max-width: 560px) {
    .projects__container {
        display: inline-block;
        width: 100vw;
        height: 100%;
        text-align: center;
    }

    .projects--flex {
        height: 20vh;
    }

    .projects--flex p {
        width: 70%;
        padding: 1vmin;
    }

    .about__picture {
        background-position: 55% 40%;
    }


}

@media all and (orientation: landscape) {
    .nav__social{
        font-size: 1vmin;
      
    }
}